.heart,
.share {
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  vertical-align: middle;
  margin-left: 10px;
}

.heart.liked {
  transform: scale(1.1);
}

.heart:active {
  transform: scale(1.4);
}

.share:active {
  transform: scale(1.4);
}
